body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: center;
    margin: 0;
    background-color: #fdfffe;
}

.calculator {
    border: 1px solid #0d8dbc;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
    
    box-shadow: 0 0 10px rgba(235, 9, 9, 0.1);
}

.display {
    background-color: #887575;
    padding: 10px;
    text-align: right;
    font-size: 1.5em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.2em;
    background-color: #f50354;
}

button:hover {
    background-color: #d0d0d0;
}
